{% extends "base.html" %}

{% block content%} 
<center>
<div>
  <p class="test-p">
    This test consists of some questions . you will have to mark "yes" or "no" based on your interest.
 </p>
</div>
</center>
<div class="form-data">
            
                <form action="/out" , method="POST">
                    <div class="form-group">
                        <label>Study the structure of the human body</label>
                        <select class="form-control" id="sshb" name="sshb">
                            <option>Yes</option>
                            <option>No</option>
                          </select>
                    </div>
                    <div class="form-group">
                        <label>Conduct a musical choir</label>
                        <select class="form-control" id="cmc" name="cmc">
                            <option>Yes</option>
                            <option>No</option>
                          </select>
                    </div>
                    <div class="form-group">
                        <label>Study animal behavior</label>
                        <select class="form-control" id="sab" name="sab">
                            <option>Yes</option>
                            <option>No</option>
                          </select>
                    </div>
                    <div class="form-group">
                        <label>Direct a play</label>
                        <select class="form-control" id="dap" name="dap">
                            <option>Yes</option>
                            <option>No</option>
                          </select>
                    </div>
                    <div class="form-group">
                        <label>Do research on plants</label>
                        <select class="form-control" id="drop" name="drop">
                            <option>Yes</option>
                            <option>No</option>
                          </select>
                    </div>
                    
                    <div class="form-group">
                        <label>Manage the operations of a hotel</label>
                        <select class="form-control" id="moh" name="moh">
                            <option>Yes</option>
                            <option>No</option>
                          </select>
                    </div>
                    <div class="form-group">
                        <label>Assemble electronic parts</label>
                        <select class="form-control" id="aep" name="aep">
                            <option>Yes</option>
                            <option>No</option>
                          </select>
                    </div>
                    <div class="form-group">
                        <label>Develop a new medical treatment or procedure</label>
                        <select class="form-control" id="dnmtp" name="dnmtp">
                            <option>Yes</option>
                            <option>No</option>
                          </select>
                    </div>
                    <div class="form-group">
                        <label>Write a song</label>
                        <select class="form-control" id="wsong" name="wsong">
                            <option>Yes</option>
                            <option>No</option>
                          </select>
                    </div>
                    <div class="form-group">
                        <label>Maintain employee records</label>
                        <select class="form-control" id="er" name="er">
                            <option>Yes</option>
                            <option>No</option>
                          </select>
                    </div>
                    <div class="form-group">
                        <label>Conduct biological research</label>
                        <select class="form-control" id="cbr" name="cbr">
                            <option>Yes</option>
                            <option>No</option>
                          </select>
                    </div>
                    <div class="form-group">
                        <label>Write books or plays</label>
                        <select class="form-control" id="wbp" name="wbp">
                            <option>Yes</option>
                            <option>No</option>
                          </select>
                    </div>
                    <div class="form-group">
                        <label>Manage a department within a large company</label>
                        <select class="form-control" id="md" name="md">
                            <option>Yes</option>
                            <option>No</option>
                          </select>
                    </div>
                    <div class="form-group">
                        <label>Play a musical instrument</label>
                        <select class="form-control" id="pmi" name="pmi">
                            <option>Yes</option>
                            <option>No</option>
                          </select>
                    </div>
                    <div class="form-group">
                        <label>Work in a biology lab</label>
                        <select class="form-control" id="wbl" name="wbl">
                            <option>Yes</option>
                            <option>No</option>
                          </select>
                    </div>
                    <div class="form-group">
                        <label>Keep shipping and receiving records</label>
                        <select class="form-control" id="ksr" name="ksr">
                            <option>Yes</option>
                            <option>No</option>
                          </select>
                    </div>
                    <div class="form-group">
                        <label>study of crops</label>
                        <select class="form-control" id="soc" name="soc">
                            <option>Yes</option>
                            <option>No</option>
                          </select>
                    </div>
                    <div class="form-group">
                        <label>study maths</label>
                        <select class="form-control" id="sm" name="sm">
                            <option>Yes</option>
                            <option>No</option>
                          </select>
                    </div>
                    

                  

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">Send</button>
                    </div>
                </form>
 

</div>

{% endblock %}